@keyframes pulse { 0% { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
  55% { -moz-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); opacity: 0.8; }
  100% { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; } }
@-webkit-keyframes pulse { 0% { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
  55% { -moz-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); opacity: 0.8; }
  100% { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; } }
* { margin: 0; padding: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "calluna", serif; font-size: 18px; line-height: 1.6; color: #666666; }

p, ul, ol, table, blockquote { margin-top: 1.15rem; margin-bottom: 1.15rem; }

strong { color: rgba(0, 0, 0, 0.8); }

a { color: #B92222; text-decoration: none; }
a:hover { text-decoration: underline; }

em { opacity: 0.8; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #dedede; }

h1, h2, h3 { color: rgba(0, 0, 0, 0.8); margin-top: 3.25rem; margin-bottom: 1.625rem; }

h1 { font-size: 3.375rem; line-height: 3.625rem; }

h2 { font-size: 2.25rem; line-height: 2.625rem; }

h3 { font-size: 1.5rem; line-height: 1.625rem; }

ul { list-style: disc; margin-left: 1em; }

blockquote { text-align: center; }

.title { color: rgba(0, 0, 0, 0.8); }

header.post { text-align: center; }

footer a { color: #2298B9; }

dl.posts { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; margin-bottom: 1em; }
dl.posts dt { display: none; }
@media all and (min-width: 640px) { dl.posts dt { display: inline; } }

body { max-width: 940px; margin: 0 auto; padding: 0 1rem; background-color: #FFFFFF; }

article { margin-top: 4rem; margin-bottom: 1rem; }

footer { border-top: 1px solid #C5C4C4; margin-top: 1.5rem; }

nav.right-nav { display: block; text-align: right; margin-top: 1em; }

.highlight { padding: 1em; margin-bottom: 1em; overflow: scroll; border-radius: 4px; font-size: 0.8em; }

p > code, li > code { padding: 0.2em 0.4em; font-size: 0.8em; border-radius: 4px; background: #dedede; color: rgba(0, 0, 0, 0.9); }

.atom { position: relative; width: 200px; height: 200px; margin-top: 100px; margin-left: auto; margin-right: auto; margin-bottom: -50px; }

.oval { width: 200px; height: 75px; border: 5px solid #61DAFB; border-radius: 50%; }

.oval-forward { -moz-transform: rotate(65deg); -ms-transform: rotate(65deg); -webkit-transform: rotate(65deg); transform: rotate(65deg); }

.oval-backward { margin-top: -75px; -moz-transform: rotate(-65deg); -ms-transform: rotate(-65deg); -webkit-transform: rotate(-65deg); transform: rotate(-65deg); }

.oval-horizontal { margin-top: -75px; }

.circle { width: 40px; height: 40px; background: #61DAFB; border-radius: 40px; position: absolute; top: 19px; left: 80px; -moz-animation: pulse 2s ease-in-out infinite; -ms-animation: pulse 2s ease-in-out infinite; -webkit-animation: pulse 2s ease-in-out infinite; animation: pulse 2s ease-in-out infinite; }

.flux { height: 140px; margin: 0 auto; margin-top: -30px; display: block; width: 252px; }

.revue { margin-top: 1em; }
@media all and (min-width: 640px) { .revue { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; } }

@media all and (min-width: 640px) { #revue-embed { margin-left: 2em; } }
#revue-embed .revue-form-group, #revue-embed .revue-form-actions { width: 100%; padding: 0; margin: 0; display: block; }
#revue-embed .revue-form-group input, #revue-embed .revue-form-actions input { width: 100%; padding: 0; margin: 0; display: block; padding: 1em; }
#revue-embed .revue-form-group input { margin-bottom: 1em; }
#revue-embed .revue-form-actions input { padding: 0.6em; background: #2298B9; border: 0; color: white; font-size: 0.8em; font-family: "calluna", serif; }
#revue-embed .revue-form-actions input:hover { cursor: pointer; background: #1a758e; }



/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}